<h3>Address Book</h3>
<br>

<ul>
  <% @contacts.each do |contact| %>
    <li><%= link_to contact.name, contact_path(contact) %></li>
  <% end %>
</ul>

<% if current_user %>
  <br>
  <%= link_to "New Message", new_message_path %>
  <br>
  <%= link_to "New Contact", new_contact_path, id: "new_contact", remote: true %>
<% end %>
