<h3><%= @contact.name %></h3>
<br>

<p><%= link_to "Edit", edit_contact_path(@contact), id: "edit_contact", remote: true %></p>
<p><%= link_to "Delete", contact_path(@contact),
:data => {:confirm => "Are you sure you want to delete this target muscle?",
:method => "delete"} %></p>
